#logo,h1,h3{
    text-align: center;
}

#imgLogo{
    width:100%;
    height:350px;
}

body{
    background-color:aqua;
}

#navigation-bar, #btn{
    text-align: right;
}

.centered{
    position: inherit;
    text-align: center;
}

#meniuri{
    text-align: center;
}

#content{
    margin-left:5%;
    margin-right: 5%;
    margin-bottom: 2%;
    margin-top: 2%;
}